@model IEnumerable<VatLieuXayDung.Models.ChoXacNhan>

@{
    ViewBag.Title = "HoaDonChoXacNhan";
    Layout = "~/Views/Shared/Layout_2.cshtml";
}
@{
    var thanhtien = 0;
}


@foreach (var item in Model)
{
<div class="rooms">
    @thanhtien = 0;
    <div class="diemden_cungloai">Chờ xác nhận</div>
    @foreach (var cthd in item.LstCTHD)
    {
        <p class="hrclass"></p>
        <div class="room">
            <div class="row">
                <div class="col-lg-2">
                    <div class="room_image"><img src="~/Content/images/product/large-size/@cthd.SanPham.ImageUrl" alt=""></div>
                    <div class="room_khoihanh rating_r rating_r_@cthd.SanPham.SoSao offers_rating"><a href="single_listing.html"><i></i><i></i><i></i><i></i><i></i> </a></div>
                </div>
                <div class="col-lg-7">
                    <div class="room_content">
                        <div class="room_title ml-50">@cthd.SanPham.TenSP</div>
                        <div class="room_extra ml-50">@cthd.SanPham.MoTa</div>
                        <div class="room_extra ml-50">Số lượng: @cthd.SoLuong</div>
                        <div class="giaban_1 ml-50">Giá bán 1 sản phẩm: @cthd.GiaBan&ETH</div>
                        <div class="room_diadiem ml-50">Tổng cộng: @cthd.ThanhTien&ETH</div>
                        @thanhtien += @cthd.ThanhTien
                    </div>
                </div>

            </div>
        </div>
    }
    <div class="diemden_cungloai">Số tiền phải trả: @thanhtien</div>
</div>
}


